#Spring
spring.servlet.multipart.max-file-size=5MB
spring.servlet.multipart.max-request-size=5MB
spring.autoconfigure.exclude=\
  org.springframework.boot.autoconfigure.mongo.MongoAutoConfiguration, \
  org.springframework.boot.autoconfigure.data.mongo.MongoDataAutoConfiguration
springdoc.packages-to-scan=eu.europeana.statistics.dashboard.rest
springdoc.paths-to-match=/**

#Server
server.error.whitelabel.enabled=false

#Mongo Statistics Database
mongo.hosts=localhost
mongo.port=27017
mongo.authentication.db=admin
mongo.username=guest
mongo.password=guest
mongo.enable.ssl=false
mongo.application.name=metis-statistics-dashboard-local
mongo.database.name=metis-statistics-dashboard

#Truststore
truststore.path=
truststore.password=

allowed.cors.hosts=*

#Actuator
management.endpoint.health.probes.enabled=true
management.health.livenessState.enabled=true
management.health.readinessState.enabled=true

# Elastic APM
elastic.apm.enabled=false
elastic.apm.recording=true
elastic.apm.instrument=true
elastic.apm.service_name=metis-statistics-dashboard-local
elastic.apm.server_url=
elastic.apm.environment=test
elastic.apm.application_packages=eu.europeana
elastic.apm.log_level=ERROR
elastic.apm.capture_body=all
elastic.apm.capture_headers=true
elastic.apm.metrics_interval=5s
