#Socks Proxy
socks.proxy.enabled=false
socks.proxy.host=
socks.proxy.port=
socks.proxy.username=
socks.proxy.password=

#Mongo
mongo.sd.hosts=
mongo.sd.port=
mongo.sd.authentication.db=
mongo.sd.username=
mongo.sd.password=
mongo.sd.enable.ssl=
mongo.sd.application.name=
mongo.sd.database.name=

#Truststore
truststore.path=
truststore.password=