name: CI

on: push

jobs:
  ci:
    uses: europeana/metis-actions/.github/workflows/ci.yml@main
    with:
      sonar_organization: europeana
      sonar_project_key: europeana_statistics-dashboard-backend
    secrets:
      SONAR_TOKEN: ${{ secrets.METIS_SONAR_TOKEN }}

  docker-build_metis-statistics-dashboard:
    needs: ci
    uses: europeana/metis-actions/.github/workflows/docker-build-push.yml@main
    with:
      docker-organization: europeana
      docker-image-name: metis-statistics-dashboard
      project-path: statistics-dashboard-rest/
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}

  docker-build_metis-statistics-dashboard-worker:
    needs: ci
    uses: europeana/metis-actions/.github/workflows/docker-build-push.yml@main
    with:
      docker-organization: europeana
      docker-image-name: metis-statistics-dashboard-worker
      project-path: statistics-dashboard-worker/
    secrets:
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}